{%  extends 'Shop/basic.html' %}

{% block title %}Iam About{% endblock %}


{% block body %}

<div class="container">

    <div class="Head col-md-4 my-4">
    <h1>About Us</h1>
        </div>

    <div class="Vison col-md-8 ">

        <strong>Vision Behind The KamarTaj</strong>
        <br>
        <br>
        <h6>A dream of delivering not just products, but smiles, convenience, and a touch of magic to people's lives. Welcome to KamarTaj.in, where this dream comes to life.</h6>
    </div>
    <div class="Journey my-5 mx-3">
        <strong>Our Journey</strong>
        <br>
        <br>
        <h6>We started our journey with a simple idea - to make online shopping an unforgettable experience for our customers. It all began with a group of passionate entrepreneurs who believed in the power of e-commerce and the joy of connecting people to their desires.</h6>
    </div>

    <div class="Journey my-5 mx-3">

        <strong>Our Promise</strong>
        <br>
        <br>
        <h6>We are committed to deliver products that make your life easier, saves time and human effort, easy on pocket and most importantly brings smile to your face</h6>
    </div>


        <div class="Contact Us my-5 mx-3">

        <strong>Contact Us </strong>
        <br>
        <br>
        <h6>Have questions, suggestions, or just want to say hello? Reach out to us anytime. Your feedback means a lot to us.</h6>
            <br>
            <b>Email-skofficial665@gmail.com</b> <br>
            <b>Phone-80798615165</b>

    </div>



    <div class="About my-5 mx-3">

        <strong>Thank you for choosing theevertrend.in as your shopping destination. Let's make every day a little more exciting and every purchase a memorable experience.</strong>


    </div>




</div>






{% endblock %}
