{% extends 'Shop/basic.html' %}

{% block css %}
.grey-color {
color: grey;
}
.col-md-3 {
display: inline-block;
margin-left:-4px;

}
.col-md-3 img{
width: auto;
height: 255px;
object-fit:contain;
}
body .carousel-indicators .active{
background-color: blue;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: blue;

}
.carousel-control-prev,
.carousel-control-next{
top: auto;
bottom: auto;
margin-top: -380px;

}

body .no-padding{
padding-left: 0;
padding-right: 0;
}



{% endblock %}

{% block title %}Kamar Taj{% endblock %}


{% block body %}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://source.unsplash.com/1600x400?/coder,computer" alt="First s
                lide">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="grey-color">Welcome To KamarTaj</h5>
                <p class="grey-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis,
                    consequatur.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://source.unsplash.com/1600x400?/coding" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="grey-color">Welcome To KamarTaj</h5>
                <p class="grey-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis,
                    consequatur.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://source.unsplash.com/1600x400?/computer,laptop" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="grey-color">Welcome To KamarTaj</h5>
                <p class="grey-color">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis,
                    consequatur.</p>
                </p>
            </div>
        </div>
    </div>

</div>
<!-- Products Items Start Here... -->
<div class="container">
    {% for product, range, nSlides in allpdts %}
    <h1>{{product.0.category}}</h1>
    <p style="margin: 40px 16px -33px;"> New Trending Items</p>
<div id="demo{{forloop.counter}}" class="carousel slide my-5" data-ride="carousel">
    <!--Button Area-->
    <ul class="carousel-indicators">
        {% for i in range %}
        <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" class="active"></li>
        {% endfor %}

    </ul>
    <div class="container carousel-inner no-padding">

        <div class="carousel-item active">
            {% for i in product %}
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/media/{{i.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{i.product_name}}</h5>
                        <p class="card-text">{{product.0.desc|slice:':100'}}.....</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                        <a href="/Shop/productview/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary" >Quick View</button>
                        </a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div>
        <div class="carousel-item">
            {% endif %}

            {% endfor %}
        </div>
    </div>
    </div>

    <!-- Left and Right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    {% endfor %}
</div>
{% endblock %}
{% block js %}

 {% endblock%}
